name: CI

on:
  push:
  pull_request:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Say hello + show repo files
        run: |
          echo "Hello from GitHub Actions!"
          ls -la
