name: CI

on:
  push:
  pull_request:
  workflow_dispatch:


jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Show specific variables (safe)
        run: |
           echo "LAB_MESSAGE=$LAB_MESSAGE"
           echo "GITHUB_ACTOR=$GITHUB_ACTOR"
           echo "GITHUB_REF=$GITHUB_REF"
